<div class="section" formGroupName="payment">
  <h2 class="text-xl font-bold mb-6 border-b pb-3 text-[#1976d2]">Payment</h2>

  <div class="form-row">
    <div class="mb-4">
      <label class="font-bold">Certification of Period:</label>
    </div>
    <mat-form-field appearance="fill" class="flex-1 min-w-[200px]">
      <mat-label>Period</mat-label>
      <input matInput formControlName="Period" type="number" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="flex-1 min-w-[250px]">
      <mat-label>Months</mat-label>
      <mat-select formControlName="Months" placeholder="Select Months">
        <mat-option value="days">days</mat-option>
        <mat-option value="weeks">weeks</mat-option>
        <mat-option value="months">months</mat-option>
        <mat-option value="years">years</mat-option>
      </mat-select>
    </mat-form-field>

     <mat-form-field appearance="fill" class="flex-1 min-w-[200px]">
      <mat-label>Remarks</mat-label>
      <input matInput formControlName="Remarks" />
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="w-32">
      <mat-label>Degree of Risk</mat-label>
      <mat-select formControlName="DegreeRiskType">
        <mat-option value="L">L</mat-option>
        <mat-option value="L/M">L/M</mat-option>
        <mat-option value="M">M</mat-option>
        <mat-option value="M/H">M/H</mat-option>
        <mat-option value="H">H</mat-option>
        <mat-option value="NA">N/A</mat-option>
        <mat-option value="NSR">NSR</mat-option>
        <mat-option value="Pending">Pending</mat-option>
      </mat-select>
    </mat-form-field>


  </div>

  <div class="form-row">
      <div class="mb-4 mr-6">
      <label class="font-bold">Retention Amount:</label>
    </div>
    <mat-form-field appearance="fill" class="flex-1 min-w-[200px]">
      <mat-label>Retention</mat-label>
      <input matInput formControlName="Retention" type="number"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="flex-1 min-w-[250px]">
      <mat-label>Percent</mat-label>
      <mat-select formControlName="Percent" placeholder="Select Percent">
        <mat-option value="%">%</mat-option>
        <mat-option value=" "></mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="flex-1 min-w-[250px]">
      <mat-label>Remarks</mat-label>
      <input matInput formControlName="Remarks2" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-32">
      <mat-label>Degree Name</mat-label>
      <mat-select formControlName="DegreeRiskType2">
         <mat-option value="L">L</mat-option>
        <mat-option value="L/M">L/M</mat-option>
        <mat-option value="M">M</mat-option>
        <mat-option value="M/H">M/H</mat-option>
        <mat-option value="H">H</mat-option>
        <mat-option value="NA">N/A</mat-option>
        <mat-option value="NSR">NSR</mat-option>
        <mat-option value="Pending">Pending</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <div class="mb-4 mr-8">
      <label class="font-bold">Payment Period:</label>
    </div>
    <mat-form-field appearance="fill" class="flex-1 min-w-[200px]">
      <mat-label>Payment Period</mat-label>
      <input matInput formControlName="PaymentPeriod" type="number" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="flex-1 min-w-[250px]">
      <mat-label>Months</mat-label>
      <mat-select formControlName="Months2" placeholder="Select Months">
        <mat-option value="days">days</mat-option>
        <mat-option value="weeks">weeks</mat-option>
        <mat-option value="months">months</mat-option>
        <mat-option value="years">years</mat-option>
      </mat-select>
    </mat-form-field>

     <mat-form-field appearance="fill" class="flex-1 min-w-[250px] invisible">
      <mat-label>Hidden Field</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-32">
      <mat-label>Degree of Risk</mat-label>
      <mat-select formControlName="DegreeRiskType3">
        <mat-option value="L">L</mat-option>
        <mat-option value="L/M">L/M</mat-option>
        <mat-option value="M">M</mat-option>
        <mat-option value="M/H">M/H</mat-option>
        <mat-option value="H">H</mat-option>
        <mat-option value="NA">N/A</mat-option>
        <mat-option value="NSR">NSR</mat-option>
        <mat-option value="Pending">Pending</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <div class="mb-4 mr-4">
      <label class="font-bold">Limit of Retention:</label>
    </div>
    <mat-form-field appearance="fill" class="flex-1 min-w-[200px]">
      <input matInput formControlName="LimitofRetention" />
    </mat-form-field>

     <mat-form-field appearance="fill" class="flex-1 min-w-[250px] invisible">
      <mat-label>Hidden Field</mat-label>
      <input matInput />
    </mat-form-field>

     <mat-form-field appearance="fill" class="flex-1 min-w-[250px] invisible">
      <mat-label>Hidden Field</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="fill" class="flex-1 min-w-[250px]">
      <mat-label>Degree of Risk</mat-label>
      <mat-select formControlName="LimitofRetentionselect">
        <mat-option value="L">L</mat-option>
        <mat-option value="L/M">L/M</mat-option>
        <mat-option value="M">M</mat-option>
        <mat-option value="M/H">M/H</mat-option>
        <mat-option value="H">H</mat-option>
        <mat-option value="NA">N/A</mat-option>
        <mat-option value="NSR">NSR</mat-option>
        <mat-option value="Pending">Pending</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <div class="mb-4">
      <label class="font-bold">Cash Profile:</label>
    </div>
    <mat-label>Max Exposure (Amount)</mat-label>
    <div style="width: 200px">
      <mat-form-field appearance="fill">
        <input matInput formControlName="MaxExposureAmount" type="number" />
      </mat-form-field>
    </div>
    <label>for</label>
    <div style="width: 200px">
      <mat-form-field appearance="fill">
        <input matInput formControlName="MaxExposureMonths" type="number" />
      </mat-form-field>
    </div>
    <label>months</label>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill">
      <mat-label>Peak deficit</mat-label>
      <input matInput formControlName="PeakDeficit" type="number"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Peak Surplus</mat-label>
      <input matInput formControlName="PeakSurplus" type="number"/>
    </mat-form-field>

     <mat-form-field appearance="fill" class="flex-1 min-w-[250px] invisible">
      <mat-label>Hidden Field</mat-label>
      <input matInput />
    </mat-form-field>

      <mat-form-field appearance="fill" class="flex-1 min-w-[250px]">
        <mat-label>Degree of Risk</mat-label>
        <mat-select formControlName="RiskLevel">
          <mat-option value="L">L</mat-option>
          <mat-option value="L/M">L/M</mat-option>
          <mat-option value="M">M</mat-option>
          <mat-option value="M/H">M/H</mat-option>
          <mat-option value="H">H</mat-option>
          <mat-option value="NA">N/A</mat-option>
          <mat-option value="NSR">NSR</mat-option>
          <mat-option value="Pending">Pending</mat-option>
        </mat-select>
      </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill">
      <mat-label>Average deficit</mat-label>
      <input matInput formControlName="AverageDeficit" type="number"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Average Surplus</mat-label>
      <input matInput formControlName="AverageSurplus" type="number"/>
    </mat-form-field>

     <mat-form-field appearance="fill" class="flex-1 min-w-[250px] invisible">
      <mat-label>Hidden Field</mat-label>
      <input matInput />
    </mat-form-field>

     <mat-form-field appearance="fill" class="flex-1 min-w-[250px] invisible">
      <mat-label>Hidden Field</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
</div>
