<div class="section">
  <h2 class="text-xl font-bold mb-6 border-b pb-3 text-[#1976d2]">Project</h2>

  <div class="form-row">
    <div class="flex items-center gap-2">
      <label class="w-40 font-semibold">Form 30</label>
      <button mat-raised-button color="primary" (click)="openForm30Popup($event)">
        <mat-icon>link</mat-icon>
        Link
      </button>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Business Unit</mat-label>
      <mat-select formControlName="businessUnit" required>
        <mat-option value="unit1">Unit 1</mat-option>
        <mat-option value="unit2">Unit 2</mat-option>
        <mat-option value="unit3">Unit 3</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Due Date</mat-label>
      <input matInput type="date" formControlName="duedate" />
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill">
      <mat-label>Tender no</mat-label>
      <input matInput formControlName="tenderNo" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Project Title</mat-label>
      <input matInput formControlName="projectTitle" required />
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill">
      <mat-label>Bid Manager</mat-label>
      <input matInput formControlName="BidManager" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Estimator</mat-label>
      <input matInput formControlName="Estimator" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Planner</mat-label>
      <input matInput formControlName="Planner" />
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill">
      <mat-label>Region</mat-label>
      <mat-select formControlName="Region">
        @for (region of regions | keyvalue; track region.key) {
        <mat-option [value]="region.key">
          {{ region.value }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Location</mat-label>
      <input matInput formControlName="Location" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Planner</mat-label>
      <input matInput formControlName="Planner" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>TenderType</mat-label>
      <mat-select formControlName="TenderType">
        @for (tenderType of tenderTypes | keyvalue; track tenderType.key) {
        <mat-option [value]="tenderType.key">
          {{ tenderType.value }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill">
      <mat-label>Brief Description</mat-label>
      <textarea matInput formControlName="BriefDescription" rows="3"></textarea>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label class="block mb-1">Approximate Value</mat-label>
    <div style="display: flex; gap: 10px">
      <mat-form-field appearance="fill" style="flex: 1">
        <mat-select formControlName="ApproximateValueType" placeholder="Select type">
          @for (currency of currencies | keyvalue; track currency.key) {
          <mat-option [value]="currency.key">
            {{ currency.value }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" style="flex: 1">
        <input matInput formControlName="ApproximateValueInput" placeholder="Enter value" />
      </mat-form-field>
    </div>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill">
      <mat-label>Approximate Value Remarks</mat-label>
      <input matInput formControlName="ApproximateValue" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Approximate Margin</mat-label>
      <input matInput formControlName="Approxmargin" />
    </mat-form-field>
  </div>

  <div class="form-row">
    <label class="block mb-1">Maintenance / Defect</label>
    <div style="display: flex; gap: 10px">
      <mat-form-field appearance="fill" style="flex: 1">
        <mat-select formControlName="maintenanceType" placeholder="Select option">
          @for (maintenanceDefect of maintenanceDefects | keyvalue; track maintenanceDefect.key) {
          <mat-option [value]="maintenanceDefect.key">
            {{ maintenanceDefect.value }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" style="flex: 1">
        <input
          matInput
          type="number"
          formControlName="maintenanceValue"
          placeholder="Enter number"
        />
      </mat-form-field>
      <mat-form-field appearance="fill" style="flex: 1">
        <mat-select formControlName="maintenanceStatus" placeholder="Select status">
          <mat-option value="open">months</mat-option>
          <mat-option value="inprogress">days</mat-option>
          <mat-option value="closed">years</mat-option>
          <mat-option value="weeks">weeks</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill">
      <mat-label>Client</mat-label>
      <input matInput formControlName="Client" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contract Period (months)</mat-label>
      <mat-select formControlName="ContractPeriod" placeholder="Select type">
        <mat-option value="months">months</mat-option>
        <mat-option value="days">days</mat-option>
        <mat-option value="years">years</mat-option>
        <mat-option value="weeks">weeks</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill">
      <mat-label>Financial Standing</mat-label>
      <mat-select formControlName="FinantialStanding">
        @for (financeStanding of financeStandings | keyvalue; track financeStanding.key) {
        <mat-option [value]="financeStanding.key">
          {{ financeStanding.value }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <div class="form-row">
      <label class="block mb-1">Tender Market Scheme</label>
      <mat-radio-group formControlName="TenderMarketScheme" class="flex gap-6">
        @for (key of yesNo | keyvalue; track key.key) {
        <mat-radio-button [value]="key.key">{{ key.value }}</mat-radio-button>
        }
      </mat-radio-group>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Financial/Technical Split Value</mat-label>
      <mat-select formControlName="FinancialTechnicalSplitValue">
        @for (split of financeTechnicalSplits | keyvalue; track split.key) {
        <mat-option [value]="split.key">
          {{ split.value }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Bid Type</mat-label>
      <mat-select formControlName="BidType" placeholder="Select Bid Type">
       @for(bidtype of bidTypes | keyvalue; track bidtype.key) {
        <mat-option [value]="bidtype.key">
          {{ bidtype.value }}
        </mat-option>
       }
      </mat-select>
    </mat-form-field>
  </div>
</div>
